.form-container {
    width: 500px;
    height: 600px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    margin: 20px auto;
    padding: 42px;
    box-sizing: border-box;
}

.form-title {
    color: #2A414F;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.088px;
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 20px;

}

.form-control label {
    display: block;
    margin-bottom: 10px;
    color: #2A414F;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.026px;
}

.form-control input {
    width: 415px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
    padding-left: 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.submit input {
    width: 415px;
    height: 55px;
    border-radius: 5px;
    background: rgba(255, 153, 0, 0.30);
    padding-left: 0px;
    box-sizing: border-box;
    border: none;
    color: #0E161A;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.032px;
    cursor: pointer;
}

.submit input:hover {
    background: rgba(255, 153, 0, 0.40);
}

.error {
    font-size: 18px;
    color: rgb(220, 9, 9);
    margin-bottom: 20px;
}