.shop-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding-left: 100px;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 118px;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.30);
    margin-left: 45px;
    color: #1C2B35;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.link{
    text-decoration: none;
}
.review-order-btn{
    height: 48px;
    border-radius: 4px;
    background: #FF9900;
    border: none;
    font-weight: 400;
    font-size: 17px;
    color: white;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}
