.cart {
    position: sticky;
    top: 0
}

.order-summary {
    margin-top: 28px;
    text-align: center;
    color: #1C2B35;
    font-size: 25px;
}

.order-summary-info {
    padding-left: 23px;
    margin-top: 50px;
    font-size: 17px;
}

.order-summary-info .spacing {
    margin-bottom: 25px;
}

.grand-total {
    color: #0E161A;
    font-size: 21px;
}

.clear-cart-btn {
   
    height: 48px;
    border-radius: 4px;
    background: #FF3030;
    border: none;
    font-weight: 400;
    font-size: 17px;
    color: white;
    margin-top: 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}